[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
rich = "*"
black = "*"

[dev-packages]
flake8 = "*"
black = "*"
coverage = "*"

[requires]
python_version = "3.11"
